@model PontoCerto.Application.DTOs.PessoaDto

@{
    ViewBag.Title = "Excluir Pessoa";
    Layout = "~/Views/Shared/_Layout.cshtml";
    var departamentoId = ViewBag.DepartamentoId;
}

<h2>Excluir Pessoa</h2>

<h3>Você realmente deseja excluir esta pessoa?</h3>

<div>
    <h4>@Model.Nome</h4>
    <p>Valor Hora: @Model.ValorHora.ToString("C")</p>
</div>

<form action="/Pessoa/ExcluirPorId?pessoaId=@Model.Id&&departamentoId = @departamentoId" method="post">
    @Html.AntiForgeryToken()
    <div class="form-group">
        <input type="submit" value="Excluir" class="btn btn-danger" />
    </div>
</form>

<a href="@Url.Action("Index", "Pessoa", new { departamentoId = @departamentoId })" class="btn btn-secondary">Cancelar</a>