@model IEnumerable<PontoCerto.Application.DTOs.PessoaDto>

@{
    ViewBag.Title = "Lista de Pessoas";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Lista de Pessoas</h2>

<table class="table">
    <thead>
        <tr>
            <th>Nome</th>
            <th>Valor Hora</th>
            <th>Ações</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.Nome</td>
                <td>@item.ValorHora.ToString("C")</td>
                <td>
                    <a asp-action="BuscarPessoaPorId" asp-route-pessoaId="@item.Id">Detalhes</a> |
                    <a asp-action="AtualizarPessoa" asp-route-pessoaId="@item.Id">Editar</a> |
                    <form asp-action="ExcluirPessoa" asp-route-pessoaId="@item.Id" method="post" style="display:inline;" onsubmit="return confirm('Tem certeza que deseja excluir esta pessoa?');">
                        <button type="submit" class="btn btn-link">Excluir</button>
                    </form>
                </td>
            </tr>
        }
    </tbody>
</table>

<a href="/Pessoa/CadastrarPessoa" class="btn btn-primary">Adicionar Nova Pessoa</a>
