@model IEnumerable<PontoCerto.Application.DTOs.PessoaDto>

@{
    ViewBag.Title = "Lista de Pessoas";
    Layout = "~/Views/Shared/_Layout.cshtml";
    var departamentoId = ViewBag.DepartamentoId;
}

<div class="d-flex justify-content-between align-items-center mb-3 mt-3">
    <h2>Lista de Pessoas</h2>
    <a href="@Url.Action("Cadastrar", "Pessoa", new { departamentoId = @departamentoId })" class="btn btn-primary">Adicionar Nova Pessoa</a>
</div>


<table class="table">
    <thead>
        <tr>
            <th>Nome</th>
            <th>Valor Hora</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.Nome</td>
                <td>@item.ValorHora.ToString("C")</td>
                <td>
                    <a href="@Url.Action("Detalhes", "Pessoa", new { pessoaId = @item.Id, departamentoId = @departamentoId })">Detalhes</a> |
                    <a href="@Url.Action("Editar", "Pessoa", new { pessoaId = @item.Id, departamentoId = @departamentoId })">Editar</a> |
                    <a href="@Url.Action("Excluir", "Pessoa", new { pessoaId = @item.Id, departamentoId = @departamentoId })">Excluir</a>
                </td>
            </tr>
        }
    </tbody>
</table>

<a href="@Url.Action("Detalhes", "Departamento", new { departamentoId = @departamentoId })" class="btn btn-secondary">Voltar</a>

