@model PontoCerto.Application.DTOs.RegistroPontoDto

<h2>Detalhes do Registro de Ponto</h2>

<div>
    <h4>Funcionário: @Model.Pessoa.Nome</h4>
    <p>Data: @Model.Data.ToShortDateString()</p>
    <p>Hora Entrada: @Model.HoraEntrada</p>
    <p>Hora Saída: @Model.HoraSaida</p>
    <p>Hora Almoço: @Model.Almoco</p>
</div>

<a asp-action="Index" class="btn btn-secondary">Voltar</a>
