@model PontoCerto.Application.DTOs.RegistroPontoDto

@{
    ViewBag.Title = "Cadastrar Registro Ponto";
    Layout = "~/Views/Shared/_Layout.cshtml";
    var pessoaId = ViewBag.pessoaId;
}

<h2>Editar Registro de Ponto</h2>

<form action="/RegistroPonto/Editar?registroId=@Model.Id&&pessoaId=@pessoaId" method="post">
    @Html.AntiForgeryToken()
    <input type="hidden" asp-for="Id" name="pessoaId" value="@Model.PessoaId" />

    <div class="form-group">
        <label asp-for="Data" class="control-label"></label>
        <input name="Data" asp-for="Data" class="form-control" type="date" value="@Model.Data" />
    </div>

    <div class="form-group">
        <label asp-for="HoraEntrada" class="control-label"></label>
        <input name="HoraEntrada" asp-for="HoraEntrada" class="form-control" type="time" value="@Model.HoraEntrada" />
    </div>

    <div class="form-group">
        <label asp-for="InicioAlmoco" class="control-label"></label>
        <input name="InicioAlmoco" asp-for="InicioAlmoco" class="form-control" type="time" value="@Model.InicioAlmoco" />
    </div>

    <div class="form-group">
        <label asp-for="FimAlmoco" class="control-label"></label>
        <input name="FimAlmoco" asp-for="FimAlmoco" class="form-control" type="time" value="@Model.FimAlmoco" />
    </div>

    <div class="form-group">
        <label asp-for="HoraSaida" class="control-label"></label>
        <input name="HoraSaida" asp-for="HoraSaida" class="form-control" type="time" value="@Model.HoraSaida" />
    </div>

    <div class="form-group">
        <input type="submit" value="Salvar" class="btn btn-primary" />
    </div>
</form>

<a href="@Url.Action("Index", "Pessoa", new { pessoaId = @pessoaId })" class="btn btn-secondary">Voltar</a>
