@model PontoCerto.Application.DTOs.RegistroPontoDto

@{
    ViewBag.Title = "Cadastrar Registro Ponto";
    Layout = "~/Views/Shared/_Layout.cshtml";
    var pessoaId = ViewBag.PessoaId;
}

<h2>Excluir Registro de Ponto</h2>

<h3>Você realmente deseja excluir este registro de ponto?</h3>

<div>
    <h4>@Model.Pessoa?.Nome</h4>
    <p>Data: @Model.Data</p>
    <p>Entrada: @Model.HoraEntrada</p>
    <p>Saída: @Model.HoraSaida</p>
    <p>Almoço: @Model.Almoco</p>
</div>

<form action="/RegistroPonto/ExcluirPorId?registroPontoId=@Model.Id" method="post">
    @Html.AntiForgeryToken()
    <div class="form-group">
        <input type="submit" value="Excluir" class="btn btn-danger" />
    </div>
</form>

<a href="@Url.Action("Index", "RegistroPonto", new { pessoaId = @pessoaId })" class="btn btn-secondary">Cancelar</a>
