@model PontoCerto.Application.DTOs.RegistroPontoDto

@{
    ViewBag.Title = "Cadastrar Registro Ponto";
    Layout = "~/Views/Shared/_Layout.cshtml";
    var pessoaId = ViewBag.pessoaId;
}

<h2>Excluir Registro de Ponto</h2>

<h3>Você realmente deseja excluir este registro de ponto?</h3>

<div>
    <h4>@Model.Pessoa.Nome</h4>
    <p>Data: @Model.Data.ToShortDateString()</p>
    <p>Entrada: @Model.HoraEntrada</p>
    <p>Saída: @Model.HoraSaida</p>
    <p>Almoço: @Model.Almoco</p>
</div>

<form action="/RegistroPonto/ExcluirPorId?registroPontoId=@Model.Id&&pessoaId=@pessoaId" method="post">
    @Html.AntiForgeryToken()
    <input type="submit" value="Excluir" class="btn btn-danger" />
</form>

<a href="@Url.Action("Index", "Pessoa", new { pessoaId = @pessoaId })" class="btn btn-secondary">Cancelar</a>
