@model IEnumerable<PontoCerto.Application.DTOs.RegistroPontoDto>

@{
    ViewBag.Title = "Cadastrar Registro Ponto";
    Layout = "~/Views/Shared/_Layout.cshtml";
    var pessoaId = ViewBag.pessoaId;
}

<div class="d-flex justify-content-between align-items-center mb-3 mt-3">
    <h2>Lista de Registros de Ponto</h2>
    <a href="@Url.Action("Cadastrar", "RegistroPonto", new { @pessoaId })" class="btn btn-primary">Adicionar Novo Registro</a>
</div>

<table class="table">
    <thead>
        <tr>
            <th>Data</th>
            <th>Entrada</th>
            <th>Saída</th>
            <th>Almoço</th>
            <th>Funcionário</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.Data.ToShortDateString()</td>
                <td>@item.HoraEntrada</td>
                <td>@item.HoraSaida</td>
                <td>@item.Almoco</td>
                <td>@item.Pessoa.Nome</td>
                <td>
                    <a href="@Url.Action("Editar", "RegistroPonto", new { pessoaId = @item.Id })">Editar</a> |
                    <a href="@Url.Action("Excluir", "RegistroPonto", new { pessoaId = @item.Id })">Excluir</a>
                </td>
            </tr>
        }
    </tbody>
</table>