@model IEnumerable<PontoCerto.Application.DTOs.RegistroPontoDto>

<h2>Lista de Registros de Ponto</h2>

<table class="table">
    <thead>
        <tr>
            <th>Data</th>
            <th>Entrada</th>
            <th>Saída</th>
            <th>Almoço</th>
            <th>Funcionário</th>
            <th>Ações</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.Data.ToShortDateString()</td>
                <td>@item.HoraEntrada</td>
                <td>@item.HoraSaida</td>
                <td>@item.Almoco</td>
                <td>@item.Pessoa.Nome</td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.Id">Editar</a> |
                    <a asp-action="Delete" asp-route-id="@item.Id">Excluir</a>
                </td>
            </tr>
        }
    </tbody>
</table>

<a asp-action="Create" class="btn btn-primary">Adicionar Novo Registro</a>
