@model PontoCerto.Application.DTOs.DepartamentoDto

@{
    ViewBag.Title = "Detalhes Departamento";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Detalhes do Departamento</h2>

<div>
    <h4>Nome Departamento: @Model.Nome</h4>
    <p>Valor Total Pago: @Model.ValorTotalPago.ToString("C")</p>
    <p>Valor Total Descontado: @Model.ValorTotalDescontado.ToString("C")</p>
</div>

<a href="/Departamento" class="btn btn-secondary">Voltar</a>
<a href="@Url.Action("Index", "Pessoa", new { departamentoId = @Model.Id })" class="btn btn-primary">Gerenciar Pessoas</a>
